<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

    <style>
        body{
            background-color: aqua;
            max-height: 80vh;
            width: 100%;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>This is the main body page</h1>
    </div>
</body>
</html>