{% extends 'home/base.html' %}

{% block title %}
    Nerd Platoon Intern
{% endblock title %}

{% block css %}
{% endblock css %}

    
{% block body %}

    <div class="container">


    {% if messages %}
    <div class="user">
    {% for m in messages %}
        <h1 {% if m.tags %} class="{{m.tags}}" {% endif %}>{{m}}</h1>
    {% endfor %}
</div>
{% endif %}


<div class="text-center my-5">
    <h1>Hello, Mr. <b class="text-danger">{{user}}</b></h1>
</div>
   <form action="" method="post" novalidate>
    {% csrf_token %}

<div class="container">
    {% for i in forms %}
    {{i.label_tag}} 
    {{i}}
    {{i.errors|striptags}}
    <br/>
    {% endfor %}
</div>
{% comment %} <button type="submit">Submit</button> {% endcomment %}
</form> 
</div>


{% endblock body %}

