{% extends 'home/base.html' %}

{% block body %}
    <div class="container">

        <div class="text-center fw-bold my-5">
            <h1>Change passwod without old password</h1>
        </div>


    <form action="{% url 'user_set_pass' %}" method="post" novalidate>
        {% csrf_token %}
        <!-- {{forms.as_p}} -->
        {% for i in forms %}
            {{i.label_tag}} {{i}} <br></br> {{i.errors | striptags}}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock body %}

