{% extends 'home/base.html' %}
{% load static %}
{% block title %}
    Validate Form
{% endblock title %}

{% block style %}

{% endblock style %}

{% block body %}
    <div class="container bg-light mt-5 pt-3">

        <div class="text-center fw-bold my-5">
            <h1>Update Data with simple validation</h1>
        </div>

    <form action="{% url 'user-validate' %}" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{forms.as_p}}


    <button type="submit">Sign Up</button>

    </form>
</div>


{% endblock body %}